<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node Demo</title>
    <link rel="stylesheet" href="../assets/styles.css" />
  </head>
  <body style="background-color: darkorchid">
    <%- include('partials/nav.ejs') %>
    <h1 style="color: yellow">Success</h1>
    <!-- http://127.0.0.1:2020/contact?person=praveen&gender=male&age=18&study=btech -->
    <p style="font-size: large; color: white;">
     Thanks for contacting, <%= data.person.toUpperCase()%> !
    </p>
 
    
  </body>
</html>
